<div class="col-md-3">
    <div class="product-single-card">
      <div class="product-top-area">
        <div class="product-img">
          <div class="first-view">
            <img src="{{advert.event.image_url}}" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
          </div>
        </div>
        <div class="sideicons">

          {% if request.user.is_authenticated %}
            <a href="{% url 'chat:chat_room' advert.id request.user.id %}" class="sideicons-btn">
              <i class="fa-solid fa-message"></i>
            </a>
          {% else %}
            <a href="{% url 'user:login' %}" class="sideicons-btn">
              <i class="fa-solid fa-message"></i>
            </a>
          {% endif %}

          <a href="{% url 'advert:advertdetail' advert.id %}" class="sideicons-btn">
              <i class="fa-solid fa-eye"></i>
          </a>
          
        </div>
      </div>
      <div class="product-info">
        <div class="d-flex justify-content-between">
            <h6 class="product-category"><span>{{advert.event.city}}</span></h6>
            <h6 class="product-category"><span>{{advert.event.start_time|date:'d.m.Y'}}</span></h6>
        </div>
        
        <h6 class="product-title text-truncate"><a href="{% url 'advert:advertdetail' advert.id %}">{{advert.event.title}}</a></h6>
        <span>{{advert.event.location}}</span>
        <div class="d-flex justify-content-end align-items-center">


          

          <div class="d-flex align-items-center ml-auto">
            <a href='{% url 'user:profile' advert.author.id %}' class="mx-1" >{{advert.author.username}}</a>
            <img  class="rounded-circle mx-1 navbar-profile-photo" src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}/media/profile_photos/DefaultProfileIcon.png{% endif %}" height="25" alt="">

          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center py-2">
          <div class="new-price text-success">
            {{advert.price}} TL
          </div>

        </div>
      </div>
    </div>
  </div>