{% extends 'layout.html' %}
{% load static %}

{% block head %}

{% endblock head %}


{% block body %}

<script type="text/javascript">
    var advertId = "{{ advert_id }}";
    var userId = "{{ user_id }}";

    function loadMessages() {
        // Mevcut Inbox'ın eski mesajları
        var oldMessagesJson = '{{ old_messages_json|escapejs }}';
        console.log(oldMessagesJson);
        var oldMessages = JSON.parse(oldMessagesJson);
        console.log(oldMessages);
        
        var chatLog = document.getElementById('chat-log');
        chatLog.value = ""; // Mevcut içeriği temizle
        oldMessages.forEach(function(message) {
            chatLog.value += `${message.sender__username}: ${message.content}\n`;
        });
    }
    
    // Sayfa yüklendiğinde mesajları yükle
    window.onload = loadMessages;
</script>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Chat</h1>
            <p>advertid {{advert_id}}</p>
            <p>userid {{user_id}}</p>
            <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>

<script src="{% static 'js/chat/ChatSocket.js' %}"></script>


{% endblock  %}