{% extends 'layout.html' %}

{% block body %}

  <div class="container w-75 messages-box my-4">
    <div class="list-group rounded-0">
      <h5>Gönderdiğim Mesajlar:</h5>
  
      {% if not sender_inboxes %}
      
      <a href="#" class="list-group-item list-group-item-action rounded-0" >
        <div class="media">
          <div class="media-body ml-4 my-2">
            <div class="d-flex align-items-center justify-content-between mb-1">
              <h6 class="mb-0">Gönderdiğiniz herhangi bir mesaj bulunmuyor.</h6>
            </div>
          </div>
        </div>
      </a>

      {% else %}

        {% for inbox in sender_inboxes %}

          <a href="{% url 'chat:chat_room' inbox.advert.id inbox.sender.id %}" class="list-group-item list-group-item-action rounded-0" 
            {% if inbox.last_message.is_read == False and inbox.last_message.sender != current_user %}style="border-left: 5px solid blue;"{% endif %}>

              <div class="media">              
                <div class="media-body ml-4">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <div class="d-flex align-items-center">
                      <img src="{% if inbox.last_message.sender.profile_photo %}{{inbox.last_message.sender.profile_photo.url}} {% else %} https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png {% endif %}" alt="user" width="50" class="navbar-profile-photo">
                      <h6 class="mb-0 mx-3">{{ inbox.sender.username }} - {{ inbox.advert.event.title }}</h6>
                    </div>
                    <small class="small font-weight-bold align-self-end">{{ inbox.updated_at|date:"d M H:i" }}</small>
                  </div>
                  <p class="font-italic text-small mb-0">{% if inbox.last_message.sender == current_user %} Siz: {% endif %} {{ inbox.last_message.content }}</p>
                </div>
              </div>
          </a>
        {% endfor %}

      {% endif %}
  
    </div>
  </div>
  

  <div class="container w-75 messages-box my-4">
    <div class="list-group rounded-0">
      <h5>İlanlarıma Gelen Mesajlar:</h5>
  
      {% if not receiver_inboxes %}
      
      <a href="#" class="list-group-item list-group-item-action rounded-0" >
        <div class="media">
          <div class="media-body ml-4 my-2">
            <div class="d-flex align-items-center justify-content-between mb-1">
              <h6 class="mb-0">İlanlarınıza gelen herhangi bir mesaj bulunmuyor.</h6>
            </div>
          </div>
        </div>
      </a>

      {% else %}

        {% for inbox in receiver_inboxes %}

          <a href="{% url 'chat:chat_room' inbox.advert.id inbox.sender.id %}" class="list-group-item list-group-item-action rounded-0" 
          {% if inbox.last_message.is_read == False and inbox.last_message.sender != current_user %}style="border-left: 5px solid blue;"{% endif %}>

            <div class="media">              
              <div class="media-body ml-4">
                <div class="d-flex justify-content-between align-items-center mb-1">
                  <div class="d-flex align-items-center">
                    <img src="{% if inbox.last_message.sender.profile_photo %}{{inbox.last_message.sender.profile_photo.url}} {% else %} https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png {% endif %}" alt="user" width="50" class="navbar-profile-photo">
                    <h6 class="mb-0 mx-3">{{ inbox.sender.username }} - {{ inbox.advert.event.title }}</h6>
                  </div>
                  <small class="small font-weight-bold align-self-end">{{ inbox.updated_at|date:"d M H:i" }}</small>
                </div>
                <p class="font-italic text-small mb-0">{% if inbox.last_message.sender == current_user %} Siz: {% endif %} {{ inbox.last_message.content }}</p>
              </div>
            </div>
          </a>
        {% endfor %}

      {% endif %}
  
    </div>
  </div>
  
  
  
  
{% endblock %}
