{% extends 'layout.html' %}

{% block body %}

{% if request.user.is_authenticated %}
<div class="container">
    <div class="px-4">
    <h2>Hoş geldin, {{request.user.username}}</h2>
    </div>
</div>

{% endif %}

<section>
    <div class="container">
      <div class="row g-4 py-5">

        {% if not all_adverts or undeleted_adverts_count == 0 %}

          {% if keyword %}

            <div class="col-md-12">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Uyarı!</h4>
                <p>Aradığınız kriterlere uygun ilan bulunamadı.</p>
                <hr>
                {% if request.user.is_authenticated %}
                <p class="mb-0">İlan yayınlamak için <a href="{% url 'advert:addadvert' %}">buraya</a> tıklayın.</p>
                {% else %}
                <p class="mb-0">İlan yayınlamak için <a href="{% url 'user:login' %}">buraya</a> tıklayın.</p>
                {% endif %}
                
            </div>

          {% else %}

            <div class="col-md-12">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Uyarı!</h4>
                <p>Henüz hiçbir ilan yayınlanmamış.</p>
                <hr>
                {% if request.user.is_authenticated %}
                <p class="mb-0">İlan yayınlamak için <a href="{% url 'advert:addadvert' %}">buraya</a> tıklayın.</p>
                {% else %}
                <p class="mb-0">İlan yayınlamak için <a href="{% url 'user:login' %}">buraya</a> tıklayın.</p>
                {% endif %}
                
            </div>

          {% endif %}

        {% else %}

        {% for advert in all_adverts %}

            {% if not advert.is_deleted %}

              {% include "includes/advertcard.html" %}

            {% endif %}
        
        {% endfor %}

        {% endif %}

      </div>
    </div>
  </section>
{% endblock  %}